<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>AbhiWeather | About</title>
</head>

<body>
    
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/Abhi.png" alt="Abhishek Kumar" class="img-fluid" title="Abhishek Kumar">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to AbhiWeather :)</p>
                        <h1>Hi, This is <span style="color:rgb(223, 93, 84)">Abhishek</span> Kumar <br> I Am A <span>Web Developer</span>.</h1>
                        <a href="#"><button>About Me</button></a>

                    </div>

                    

                </div>
            </div>
        </div>
    </div>

    {{>footer}}



</body>

</html>